* {
	background-color: #A7C7E7;
}

h1 {
	font-family: cursive;
	color: #522D00;
}

.short-margin {
	margin-left: 30px;
	margin-right: 60px;
	color: #4A0404;
}

.medium-margin {
	margin-left: 200px;
	margin-right: 200px;
	color: #4A0404;
	text-align: center;
}

.intro-bio {
	font-size: 20px;
}

.list-headline {
	font-weight: bolder;
	text-align: center;
	color: #522D00;
}
